main {
        background-color: rgb(64, 184, 235);
}

footer{
        background-color: rgb(255, 255, 255);
}
 
body{
        background-color: rgb(60, 215, 239);
}
#hq720{
        width: 250PX;  
        height: 250px;
        border-radius: 50%;

}